---
interface Props {
  url: string; // absolute URL to share
  title?: string;
}
const { url, title } = Astro.props as Props;
const enc = encodeURIComponent;
const fb = `https://www.facebook.com/sharer/sharer.php?u=${enc(url)}`;
const vk = `https://vk.com/share.php?url=${enc(url)}`;
const tw = `https://twitter.com/intent/tweet?url=${enc(url)}${title ? `&text=${enc(title)}` : ''}`;
---
<div class="social-center pull-right">
  <div class="social-likes" data-counters="no">
    <div class="share">Share:</div>
    <a class="ext_ref" href={fb} target="_blank" title="Share on Facebook">Facebook</a>
    <a class="ext_ref" href={vk} target="_blank" title="Share on VK">VK</a>
    <a class="ext_ref" href={tw} target="_blank" title="Share on Twitter">Twitter</a>
  </div>
</div>
<br />
<div class="clear-fix"></div>
