---
interface Props {
  url: string; // absolute URL to share
  title?: string;
}
const { url, title } = Astro.props as Props;
const enc = encodeURIComponent;
const fb = `https://www.facebook.com/sharer/sharer.php?u=${enc(url)}`;
const vk = `https://vk.com/share.php?url=${enc(url)}`;
const tw = `https://twitter.com/intent/tweet?url=${enc(url)}${title ? `&text=${enc(title)}` : ''}`;
---
<div class="social-center pull-right">
  <div class="social-likes" data-counters="no">
    <div class="share" style="padding-left: 6px">Share:</div>
    <!-- Используем те же классы, что и в старом шаблоне, чтобы сработали подключённые CSS -->
    <a class="facebook" href={fb} target="_blank" title="Share link on Facebook"></a>
    <a class="vkontakte" href={vk} target="_blank" title="Share link on VK"></a>
    <a class="twitter" href={tw} target="_blank" title="Share link on Twitter"></a>
  </div>
</div>
<br />
<div class="clear-fix"></div>
