---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import AnimatedHeader from "../components/AnimatedHeader.astro";
import UpButton from "../components/UpButton.astro";
import SocialShare from "../components/SocialShare.astro";

const cartoons = (await getCollection("cartoons")).sort((a, b) => parseInt(b.id) - parseInt(a.id));
const princessSeasons = (await getCollection("princess_seasons")).sort((a, b) => parseInt(a.id) - parseInt(b.id));
const princess = (await getCollection("princess")).sort((a, b) => parseInt(a.id) - parseInt(b.id));
const misc = (await getCollection("misc")).sort((a, b) => parseInt(b.id) - parseInt(a.id));
---
<Layout 
  title="Animated - vkiselev.com" 
  description="A collection of moving stuff by Vasili Kiselev. It includes different types of clay, cut-out animation on sports, LGBT, love etc., finger puppet show about adventures of a little princess and a number of experimental videos."
  image="/static/img/fb_anim.jpg"
  showGlobalHeader={false}
>
  <AnimatedHeader />
  <div class="padding-top-big"></div>
  <div id="cartoon" class="anim_section">animation</div>
  <div class="row">
    {cartoons.map((e) => (
      <div class="col-md-3 col-sm-4 col-landscape cartoon_item">
        <a class="shade-hover" href={`/cartoons/${e.data.url || String(parseInt(e.id, 10))}`}>
          {e.data.thumbnail && (
            <Image 
              src={e.data.thumbnail} 
              alt={e.data.hover_text} 
              width={250} 
              height={187}
              widths={[250, 500]}
              sizes="(max-width: 767px) 100vw, (max-width: 1023px) 33vw, 250px"
            />
          )}
          <div class="cartoon_desc">{e.data.hover_text}</div>
        </a>
      </div>
    ))}
  </div>

  <UpButton />

  <div id="misc" class="anim_section">misc</div>
  <div class="row">
    {misc.map((e) => (
      <div class="col-md-3 col-sm-4 col-landscape cartoon_item">
        <a class="shade-hover" href={`/misc/${e.data.url || String(parseInt(e.id, 10))}`}>
          {e.data.thumbnail && (
            <Image 
              src={e.data.thumbnail} 
              alt={e.data.hover_text} 
              width={250} 
              height={187}
              widths={[250, 500]}
              sizes="(max-width: 767px) 100vw, (max-width: 1023px) 33vw, 250px"
            />
          )}
          <div class="cartoon_desc">{e.data.hover_text}</div>
        </a>
      </div>
    ))}
  </div>

  <UpButton />

  <div id="princess" class="anim_section">the princess</div>
  <div class="row">
    {princessSeasons.map((e) => (
        <div class="col-md-3 col-sm-4 col-landscape cartoon_item">
          <a class="shade-hover" href={`/${e.collection}/${e.data.url || String(parseInt(e.id, 10))}`}>
            {e.data.thumbnail && (
                <Image
                    src={e.data.thumbnail}
                    alt={e.data.hover_text}
                    width={250}
                    height={187}
                    widths={[250, 500]}
                    sizes="(max-width: 767px) 100vw, (max-width: 1023px) 33vw, 250px"
                />
            )}
            <div class="cartoon_desc">{e.data.hover_text}</div>
          </a>
        </div>
    ))}
  </div>
  <div class="row">
    {princess.map((e) => (
        <div class="col-md-3 col-sm-4 col-landscape cartoon_item">
          <a class="shade-hover" href={`/${e.collection}/${e.data.url || String(parseInt(e.id, 10))}`}>
            {e.data.thumbnail && (
                <Image
                    src={e.data.thumbnail}
                    alt={e.data.hover_text}
                    width={250}
                    height={187}
                    widths={[250, 500]}
                    sizes="(max-width: 767px) 100vw, (max-width: 1023px) 33vw, 250px"
                />
            )}
            <div class="cartoon_desc">{e.data.hover_text}</div>
          </a>
        </div>
    ))}
  </div>

  <UpButton />
  {(() => { const fullUrl = new URL('/animated', Astro.site!).toString(); return <SocialShare url={fullUrl} title="Animated" /> })()}
</Layout>
