---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const flat = (await getCollection("flat")).sort((a, b) => parseInt(b.id) - parseInt(a.id));
const projects = (await getCollection("projects")).sort((a, b) => parseInt(b.id) - parseInt(a.id));
const comics = (await getCollection("comics")).sort((a, b) => parseInt(b.id) - parseInt(a.id));
---
<Layout 
  title="Still Graphics - vkiselev.com" 
  description="Flat graphics, projects and comics by Vasili Kiselev."
>
  <div class="still_section">Flat</div>
  <div class="row">
    {flat.map((e) => (
      <div class="col-md-3 col-sm-4 col-landscape cartoon_item">
        <a class="shade-hover" href={`/flat/${e.data.url || e.id}`}>
          {e.data.thumbnail && <Image src={e.data.thumbnail} alt={e.data.hover_text} width={250} />}
          <div class="still_desc">{e.data.hover_text}</div>
        </a>
      </div>
    ))}
  </div>

  <div class="still_section">Projects</div>
  <div class="row">
    {projects.map((e) => (
      <div class="col-md-3 col-sm-4 col-landscape cartoon_item">
        <a class="shade-hover" href={`/projects/${e.data.url || e.id}`}>
          {e.data.thumbnail && <Image src={e.data.thumbnail} alt={e.data.hover_text} width={250} />}
          <div class="still_desc">{e.data.hover_text}</div>
        </a>
      </div>
    ))}
  </div>

  <div class="still_section">Comics</div>
  <div class="row">
    {comics.map((e) => (
      <div class="col-md-3 col-sm-4 col-landscape cartoon_item">
        <a class="shade-hover" href={`/comics/${e.data.url || e.id}`}>
          {e.data.thumbnail && <Image src={e.data.thumbnail} alt={e.data.hover_text} width={250} />}
          <div class="still_desc">{e.data.hover_text}</div>
        </a>
      </div>
    ))}
  </div>
</Layout>
