---
import { Image } from "astro:assets";
interface Props {
  url: string;
  width?: number;
  height?: number;
}
const { url, width, height } = Astro.props;

function processVideoUrl(url: string) {
  if (!url) return null;
  let finalUrl = url;
  if (url.includes("youtube.com")) {
    finalUrl = url.replace("http://", "//");
    if (!url.includes("playlist")) {
      finalUrl += "?rel=0&showinfo=0&autohide=1&cc_load_policy=1&disablekb=1";
    }
  }
  return finalUrl;
}

const embedUrl = processVideoUrl(url);
const videoWidth = width || 560;
const videoHeight = height || 315;
---
{embedUrl && (
    <div class="videoWrapper"
         style={`--video-width: ${videoWidth}; --video-height: ${videoHeight};`}>
  <iframe
      width={videoWidth}
  height={videoHeight}
  src={embedUrl}
  frameborder="0"
  allowfullscreen
  ></iframe>
  </div>
)}

